
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E3F2FD;
   overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    width: 100%;
    z-index: 9999;
}

.logo img {
    width: 300px;
    margin-left: 165px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 225px;
}

nav a {
    font-family: 'Poppins';
    text-decoration: none;
    color: #063643;
    font-size: 24px;
}

.espaco{
    padding: 60px;
}


.hero {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 50px 0;
    text-align: center;
    color: #333;
}

.hero-container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    position: relative; 
    z-index: 2; 
}

.hero-text {
    max-width: 550px;
    text-align: left;
    color: #063643;
    position: relative; 
    z-index: 3; 
    margin-top: -30px; 
}

.hero-text h1 {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
}

.hero-text button {
    font-family: 'Poppins';
    background-color: #0F637A;
    color: white;
    border: none;
    padding: 17px 20px;
    font-size: 28px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

.hero-text button:hover {
    background-color: #0c4d5f;
}

.hero-container img {
    width: 650px;
    margin-top: 40px;
}

.carrossel {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px; 
}

.hero-campanha-container{
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 990px;
    position: relative;
}

.hero-campanha, .hero-campanha2, .hero-campanha3 {
    display: none;
    width: 100%;
}

.hero-campanha.active, .hero-campanha2.active, .hero-campanha3.active {
    display: flex; /* Exibe a campanha ativa */
}


.hero-campanha {
    background-color: #63B3C9;
    padding: 20px;
    width: 100%;
    max-width: 990px;
    border-radius: 8px;
    margin-top: 30px;
    z-index: 1;
    align-items: center;
    justify-content: flex-start; 
    position: relative;
    height: 250px;
}

.hero-campanha-text {
    text-align: center;
    margin-left: 90px;
}

.hero-campanha h2 {
    font-size: 28px;
    margin: 0;
    color: #063643;
    font-family: 'Poppins';
}

.hero-campanha p {
    font-size: 20px;
    margin: 5px 0;
    color: #0F637A;
    font-family: 'Poppins';
    font-weight: medium;
}

.hero-campanha button {
    background-color: #ffffff;
    color: #063643;
    border: none;
    padding: 10px 40px;
    font-size: 28px;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Poppins';
}

.hero-campanha button:hover {
    background-color: #083E58;
    color: #fff;
}

.campanha-img-esquerda {
    width: 290px;
    height: auto;
    left: 40px;
    top: 30px;
    position: absolute;
}

.campanha-img-direita {
    position: absolute;
    bottom: 0.1rem;
    left: 90%;
    transform: translateX(-50%); 
    width: 120px;
    height: auto;
}

.hero-campanha2 {
    background-color: #063643;
    background-image:   url("assets/images/fundo2.png");
    background-position: center; 
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 990px;
    border-radius: 8px;
    margin-top: 30px;
    z-index: 1;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    height: 250px;

}

.hero-campanha2-text {
    flex-grow: 1; 
    text-align: left;
}

.hero-campanha2 h2 {
    font-size: 28px;
    margin-left: 40px;
    color: #ffffff;
    font-family: 'Poppins';
}

.hero-campanha2 p {
    font-size: 18px;
    margin: 5px 0;
    margin-left: 40px;
    max-width: 550px;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: medium;
}

.hero-campanha2 button {
    background-color: #ffffff;
    color: #063643;
    border: none;
    padding: 10px 40px;
    font-size: 28px;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Poppins';
}

.hero-campanha2 button:hover {
    background-color: #7CCBE0;
    color: #063643;
}

.campanha2-img1 {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: auto;
    margin-left: 120px;
}

.campanha2-img2 {
    position: absolute;
    width: 150px; 
    height: auto;
    right: 0;
    top: 0;
}

.hero-campanha3 {
    background-color: #ffffff;
    background-image:   url("assets/images/chuva.png"), url("assets/images/guardaChuva.png");
    background-position: center right, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%, auto;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 990px;
    border-radius: 8px;
    margin-top: 30px;
    z-index: 1;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    height: 250px;

}

.hero-campanha3-text {
    flex-grow: 1; 
    text-align: left;
}

.hero-campanha3 h2 {
    font-size: 28px;
    margin-left: 40px;
    color: #063643;
    font-family: 'Poppins';
}

.hero-campanha3 p {
    font-size: 20px;
    font-weight: medium;
    margin: 5px 0;
    margin-left: 40px;
    max-width: 550px;
    color: #063643;
    font-family: 'Poppins';
}

.hero-campanha3 button {
    background-color: #063643;
    color: #ffffff;
    border: none;
    padding: 10px 40px;
    font-size: 28px;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Poppins';
}

.hero-campanha3 button:hover {
    background-color: #7CCBE0;
    color: #063643;
}

.campanha3-img1 {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: auto;
    margin-left: 200px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin-top: 10px; 
}

.carousel-nav button {
    background-color: transparent;
    color: #063643;
    border: none;
    padding: 10px; 
    cursor: pointer;
    font-size: 36px;
    margin: 0 10px;
    
}

.carousel-nav button:hover{
    color: #000000;
}

.carousel-nav button#prevBtn {
    position: absolute;
    left: 200px; 

}

.carousel-nav button#nextBtn {
    position: absolute;
    right: 200px; 
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #63B3C9; 
}


.sobre {
    display: flex;
    align-items: center;
    padding: 1px;
    width: 110%; 
    min-height: 100hv;
    margin-top: 30px;
    background-color: #89C5D5; 
    background-image:   url("assets/images/fundo.png");
    background-position: center; 
    position: relative;
}


.sobre img {
    width: 300px; 
    height: auto; 
    margin-right: 70px;
    margin-left: 355px;
}

.sobre-texto {
    max-width: 600px;
}

#titulo-sobre {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: #063643;
    text-align: left;
}

#paragrafo-sobre {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 1.5;
    color:#063643;
    text-align: left;
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 100vw;
    background-color: #63B3C9;
    background-image:   url("assets/images/fundo.png");
    background-position: center; 
    position: relative;
    text-align: center;
}

.servicos-container {
    max-width: 1000px;
    width: 100%;
}

#titulo-servicos {
    font-family: 'Inter';
    font-size: 28px;
    font-weight: bold;
    color: #063643;
    margin-bottom: 20px;
    text-align: left;
    margin-top: -10px;
    margin-left: 35px;
}

.servicos-conteudo {
    display: flex;
    flex-direction: row-reverse;
}
#paragrafo-servicos {
    font-family: 'Open Sans';
    text-align: left;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 50px;
}

.servicos-conteudo img {
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
}

.servicos2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 100vw;
    background-color: #89C5D5;
    background-image:   url("assets/images/fundo.png");
    background-position: center; 
    position: relative;
    text-align: center;
}

.servicos2-container {
    max-width: 1000px;
    width: 100%;
}

.servicos2-conteudo {
    display: flex;
    flex-direction: row;
}
#paragrafo-servicos2 {
    font-family: 'Open Sans';
    text-align: right;
    font-size: 20px;
    margin-right: 35px;
    margin-top: 50px;
}

.servicos2-conteudo img {
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
}

footer {
    background-color: #ffffff; 
    padding: 20px 0;
    font-family: 'Poppins';
    width: 100vw;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    max-width: 200px; 
    margin-top: -20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    text-align: center;
    margin-top: -20px;
}

.footer-section h3 {
    font-size: 20px; 
    color: #063643; 
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.footer-section ul li {
    margin: 5px 0;
    font-size: 16px;
}

.footer-section a {
    color: #063643; 
    text-decoration: none; 
    font-size: 16px;
}

.footer-section a:hover {
    text-decoration: underline; 
}

.contatos {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -20px;
}

.footer-bottom {
    background-color: #063643; 
    color: white; 
    text-align: center;
    padding: 8px 0;
}

.equipe {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    max-width: 1180px;
    max-height: 460px;
    
}

.profissionais h2{
    font-family: 'Poppins';
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 50px;
    padding-left: 5px;
}

.images-membros {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 40px;
}

.avaliacao {
    padding: 30px 20px;
}

.avaliacao-container {
    width: 1180px;
    margin: auto;
}
#avaliacao-topico {
    font-family: 'Inter';
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
.avaliacao-clientes {
    display: flex;
    flex-direction: column;
}
.avaliacao1,.avaliacao2, .avaliacao3 {
    display: flex;
    padding: 30px 0;
}

.avaliacao1 > img, .avaliacao2 > img, .avaliacao3 > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.pagina-avaliacao{
    display: flex;
    align-items:center;
    justify-content: end;
    gap: 10px;
}
#avaliacao-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;   
    border-radius: 10px;
    border-color: #063643;
    transition: none;
}

#AvalPAG1, #AvalPAG2, #AvalPAG3 {
    display: none; /* Oculta todas as páginas por padrão */
}

.active {
    display: block !important; /* Mostra apenas a página ativa */
}

.cliente1, .cliente2, .cliente3 {
    display: flex;
    flex-direction: column;
}
.cliente1 > img, .cliente2 > img, .cliente3 > img {
    padding: 0px 10px;
    width: 130px;
    height: 20px;
}

.cliente1 h2, .cliente2 h2, .cliente3 h2 {  
    font-family: 'Open Sans';
    text-align: left;
    font-size: 20px;
    margin: 10px;
}

.cliente1 p, .cliente2 p, .cliente3 p {
    font-family: 'Open Sans';
    text-align: left;
    font-size: 18px;
    margin: 10px;
    margin-top: -5px;
}

.formulario {
    padding: 40px;
    background: #E2F5FA;
    display: flex;
    flex-direction: column;
}

.formulario-container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    max-width: 1500px;
    margin: auto;
    background: white; /* Caixa branca */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 40px; /* Espaçamento interno */
}

.formulario h2 {
    font-family: 'Inter';
    width: 100%;
    padding-left: 135px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 20px;
    color: #063643;
}

.localizacao {
    width: 400px;
    text-align: left;
}

.localizacao h3 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #063643;
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    margin-top: 5px;
}

.localizacao p {
    font-family: 'Inter';
    color: #063643;
    font-size: 20px;
    font-style: italic;
}

.localizacao img {
    width: 100%;
    margin: 10px 0;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: -5px;
    font-weight: bold;
    color: #063643;
    margin-top:35px;
    margin-left: 10px;
}

.contato-item {
    display: flex; /* Alinha ícone e texto horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.contato img {
    width: 36px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}
.contato p{
    font-family: 'Open Sans';
    z-index: 0;
    margin: 10px;
    margin-left: 0;
    margin-top: 6px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario-contato form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 35px;
    width: 100%;
}

label {
    font-family: 'Inter';
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #063643;
    margin-left: 45px;
}

.formulario-contato input,
.formulario-contato textarea {
    width: 80%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);;
    margin: 0 auto;
    display: block;
}

.formulario-contato textarea {
    height: 100px;
}

.formulario-contato button {
    font-family: 'Poppins';
    background: #0F637A;
    color: #fff;
    padding: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 27%;
    margin-left: 45px;
}

.formulario-contato button:hover {
    background: #063643;
}